[toolchain]
anchor_version = "0.32.1"
solana_version = "2.3.13"

[features]
seeds = false
skip-lint = false

[programs.localnet]
tournament = "BCp2s2ogskLUShw7Xvvkvbz2YWp9m94RPWJQCyXptyuv"
prediction_market = "MD63kQkcMMZdw2fCBMNxH3WDj7n1nbb1x1irTMwEUBP"

[programs.devnet]
tournament = "BCp2s2ogskLUShw7Xvvkvbz2YWp9m94RPWJQCyXptyuv"
prediction_market = "MD63kQkcMMZdw2fCBMNxH3WDj7n1nbb1x1irTMwEUBP"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000

[test.validator]
url = "https://api.devnet.solana.com"

[[test.validator.clone]]
address = "4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU"  # USDC Devnet Mint

[[test.validator.clone]]
address = "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"  # Token Program
